name: test1 CD workflow

on:
  push:
    branches:
      - main
    paths:
      - 'examples/test1/**'

jobs:
  apply-infra:
    runs-on: ubuntu-latest
    name: terraform apply
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY  }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: terraform apply
        uses: dflook/terraform-apply@v1
        with:
          path: examples/test1
          auto_approve: true
